@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-01: #50D0FF;
  --accent-02: #D050FF;
}

@layer base {

  body {
    @apply text-sm;
  }

  .article {
    margin-bottom: 2rem;

    &::before {
      content: '';
      display: block;
      height: 8px;
      width: 100%;
    }

    >* {
      @apply mx-2
    }

    &:nth-child(odd)::before {
      background: linear-gradient(90deg, var(--accent-01), var(--accent-02));
    }

    &:nth-child(even)::before {
      background: linear-gradient(-90deg, var(--accent-01), var(--accent-02));
    }
  }

  .ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .ul li {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex-shrink: 0;
      display: inline-block;
      margin-right: .5rem;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    &:nth-child(odd)::before {
      background-color: var(--accent-01);
    }

    &:nth-child(even)::before {
      background-color: var(--accent-02);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-01: var(--accent-01);
  --color-accent-02: var(--accent-02);
  --bg-accent-01: var(--accent-01);
  --bg-accent-02: var(--accent-02);
  --text-xl: 32px;
  --text-md: 24px;
  --text-sm: 16px;
}

@media print {

  .work-exp {
    page-break-before: always;
  }

  .pet-bantique {
    page-break-before: always;
    margin: 30px 0;
  }

  svg {
    background-color: white;
    border: none;
  }
}

@media (min-width: theme(--breakpoint-lg)) {
  body {
    align-items: center;
  }

  .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      "a b"
      "c b"
      "f f";
    min-height: 100vh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, var(--default-font-family);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

br {
  user-select: none;
}

a,
.hl

/* highlighted */
  {
  background: linear-gradient(170deg, var(--accent-01), var(--accent-02));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}