---
const type1 = {
  bantique: "h-[30px] bg-accent-01 relative my-2",
  first: "h-[30px] w-[100px] bg-accent-01 absolute right-[30px] -rotate-45",
  second: "h-[30px] w-[100px] bg-accent-01 absolute right-[80px] -rotate-45",
};
const type2 = {
  bantique: "h-[30px] bg-accent-02 relative my-2",
  first: "h-[30px] w-[100px] bg-accent-02 absolute left-[30px] -rotate-45",
  second: "h-[30px] w-[100px] bg-accent-02 absolute left-[80px] -rotate-45",
};
interface Props {
  type: 1 | 2;
  className?: string;
}
const { type, className } = Astro.props;
const styles = type === 1 ? type1 : type2;
---

<div class={`${className} ${styles.bantique}`}>
  <div class={styles.first}></div>
  <div class={styles.second}></div>
</div>
