<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Anna Raskovalova - Frontend Dev</title>
		<link rel="icon" type="image/svg+xml" href="/me/mine.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Anna Raskovalova" />
		<meta
			name="keywords"
			content="Anna Raskovalova, Raskovalova, Frontend Developer"
		/>
		<!-- Facebook Meta Tags -->
		<meta property="og:title" content="Anna Raskovalova" />
		<meta
			property="og:description"
			content="Frontend Developer. Creator of Telegram Minesweeper game at @ra_minesweeper_bot"
		/>
		<meta property="og:image" content="https://gepardoj.github.io/me/me.webp" />
		<meta property="og:url" content="https://gepardoj.github.io/me/" />
		<meta property="og:type" content="portfolio" />
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="gepardoj.github.io" />
		<meta property="twitter:url" content="https://gepardoj.github.io/me/" />
		<meta name="twitter:title" content="Anna Raskovalova" />
		<meta
			name="twitter:description"
			content="Frontend Developer. Creator of Telegram Minesweeper game at @ra_minesweeper_bot"
		/>
		<meta
			name="twitter:image"
			content="https://gepardoj.github.io/me/me.webp"
		/>
		<!-- Styles, Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
